.jumbotron{
  background-image: url(https://cdn.dribbble.com/users/1094306/screenshots/3080714/gif-ping-pong.gif);
  height: 380px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.h1{
  text-align: center;
  color: white;

}
p{
  font-size: 30px;
}
.phead{
  color: maroon;
}
